<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- Fragment Top-Bar -->
<div th:fragment="topbar">
  <div class="top-bar">

    <a class="nav-btn-topbar" th:href="@{/admin}" th:if="${user.role} == 'ADMIN'">Manage</a>

    <form action="/logout" method="post">
      <button type="submit" class="nav-btn-topbar">Sign-out</button>
    </form>

    <input id="toggle-theme" type="checkbox" role="switch" class="toggle-switch" />
    <div class="username" th:text="${user.displayName}">Name</div>

    <!-- Avatar hiển thị -->
    <a th:href="@{/personal}" class="avatar-link">
      <img th:src="@{'/' + ${user.avatar}}" alt="Avatar" class="avatar-topBar">
    </a>
  </div>
</div>
</body>
</html>
